<nav class="bottom-nav">
   <div class="nav-container">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
         <div class="icon-wrapper">
            <ng-icon name="lucideLayoutDashboard"></ng-icon>
         </div>
         <span>Dashboard</span>
      </a>

      <a routerLink="/transactions" routerLinkActive="active" class="nav-item">
         <div class="icon-wrapper">
            <ng-icon name="lucideDollarSign"></ng-icon>
         </div>
         <span>Giao dịch</span>
      </a>

      <div class="nav-item center-action">
         <button class="fab-button" aria-label="Thêm giao dịch mới" (click)="openModal()">
            <ng-icon name="lucidePlus"></ng-icon>
         </button>
      </div>

      <a routerLink="/statistics" routerLinkActive="active" class="nav-item">
         <div class="icon-wrapper">
            <ng-icon name="lucideChartColumnBig"></ng-icon>
         </div>
         <span>Thống kê</span>
      </a>
      <a routerLink="/menu" routerLinkActive="active" class="nav-item">
         <div class="icon-wrapper">
            <ng-icon name="lucideMenu"></ng-icon>
         </div>
         <span>Menu</span>
      </a>
   </div>
</nav>
